
{% extends "team.html" %}
{% block table %}
<table>
	<tr>
		<th> Id </th>
		<th> Name </th>
		<th> position </th>
		<th> image </th>
		<th> Edit/ Delete </th>
	</tr>
{% for i in players %}
		<tr>
<td>{{i.id}}</td>
<td>{{i.name}}</td>
<td>{{i.position}}</td>
<td><img src ="{{i.image}}" height="64" width="64"></td>
<td><a href="{{url_for('editPlayer', team_id = team.id, player_id=i.id)}}"> Edit</a> /
<a href="{{url_for('DeletePlayer', team_id = team.id, player_id=i.id)}}"> Delete</a></td>
</tr>
{% endfor %}
</table>
<a href="{{url_for('newPlayer', team_id = team.id)}}"> Add a Player</a>
{% endblock %}
